.horizontal-scrollable {
    overflow-x: auto; 
    white-space: nowrap; 
    padding: 10px; 
}

.horizontal-scrollable .row {
    flex-wrap: nowrap; 
    display: flex;
}

.horizontal-scrollable .row .card {
    display: inline-block; 
    margin-right: 15px; 
}