.detailsContainer{
    width: 100%;
    background-size: cover;
    background-position: bottom right;
    background-repeat: no-repeat;
    padding: 10% 5%;
}

.detailImg{
    border-radius: 4px;
    border: solid 1px rgba(255, 255, 255, 0.4);
    margin: 0;
}

.planetImg{
 width: 100%;
 margin-bottom: -16px;
 position: relative;
}

.detailTitle{
    text-transform: uppercase;
    letter-spacing: 2px;
  font-family: "Funnel Display", sans-serif;
    color: white;
}


.detailGlass{
    position: relative;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(20px);
  border-radius: 0px 4px 4px 0px;
  border: solid 1px rgba(255, 255, 255, 0.3);
  margin-left: 0;
}

.detailsInfo p, .detailsPlusInfo p , .manufactured, .planetInfo{
    text-transform:uppercase;
    font-size: 18px;
    color: white;
}

.myContainer{
  margin: auto;
}
.birthYear{
    font-family: "Funnel Display", sans-serif;
    font-size: 25px;
    margin-bottom: 10px;
    color: white;
}

.gender{
  font-size: 18px;
  color: white;
}

.detailsPlusInfo{
  margin-top: 0;
  padding-top: 20px;
  padding-left: 3%;
}
.peopleIcon{
  width: 38px;
  height: auto;
  margin-top: -16px;
  margin-left: -10px;
  margin-right: 3px;
}
.vehicleIcon{
  position: absolute;
  top: 30px;
  right: 16px;
  opacity: 0.4;
}

.small{
  font-size: 12px !important;
  margin-top: -12px;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  letter-spacing: 2px;
  
}
.detailSubtitle{
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
}


.detailsArrow {
  position: fixed;
  z-index: 2;
  background-color: transparent;
  border: none;
  padding: 12px;
  font-size: 55px;
  color: white;
  opacity: 0.5;
  top:35vh;
}

.detailsArrow:hover {
  opacity: 1;
  scale: 1.1;
}

.left-arrow {
  left:7%;
}

.right-arrow {
  right: 7%;
}

