html {
  cursor: url('../img/cursor-icon.png'), auto;
}

body {
  font-family: "Montserrat", sans-serif;
}

.glass {
  position: relative;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 4px;
  border: solid 1px rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  outline: 1px solid rgba(255, 255, 255, 0.3);
  outline-offset: 5px;
}

.generalIcon{
    margin-top: 5px;
    font-size: 20px;
    color: rgba(255, 255, 255);
    opacity: 0.4;
    transform: ease 0.2s;
}

.generalIcon:hover {
    color: white;
    transform: scale(1.2);
}

.divider{
margin-bottom: 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.arrow{
  color: rgba(255, 255, 255, 0.8);
}

