.home-icon{
    margin-top: 10px;
width: 40px;
height: 40px;
margin-left: 20px;
opacity: 0.4;
}

.home-icon:hover{
    opacity: 1;
    transform: scale(1.1);
}
.navbar-logo{
    position: absolute;
    top: 20px;
    left: calc(50% - 128px);
    width: 250px;
    height: auto;
}

.nav-button{
    margin-top: 10px;
    margin-right: 10px;
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.1)
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: solid 1px rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.637);
}

.nav-dropdown{
    width: 230px;
    margin-left: -170px;
    overflow-x: hidden;
    background:transparent;
    color: white !important;
text-transform: uppercase;
border: 1px rgba(255, 255, 255, 0.62) solid;
}
.btn-check:focus+.btn, .btn:focus{
    outline: none;
    box-shadow: none;
    color: white;
}
.dropdown-item{
    color: white;
}
.dropdown-item:hover{
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.1)
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: solid 1px rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
}